params {
    outdir = 'results'

    counts_url = 'https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE60450&format=file&file=GSE60450_Lactation-GenewiseCounts.txt.gz'

    samples_url = 'https://raw.githubusercontent.com/ChiJingLeow/R_Package_Leow/master/Data/SampleInfo_Corrected.txt'

    counts_md5 = 'b42f375f02c89f3a0f8f4ef0ed2bd91b'
    samples_md5 = '8ddab4a8b01201121445bc6ba225d5eb'
}

process {
    executor = 'local'

    cpus = 1
    memory = 2.GB

    withName: TRANSFORM {
        cpus = 2
        memory = 4.GB
    }

    withName: LOAD {
        cpus = 2
        memory = 4.GB
    }
}

manifest {
    name = 'scientific-data-platform'
    author = 'Portfolio project'
    description = 'Scientific data ingestion and warehouse pipeline'
    mainScript = 'main.nf'
}
